<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="logfile" xsi:type="File" layout="[${longdate}][${level}]  ${message}" fileName="C:/Users/dave_/Desktop/GetFlights.log"
				archiveFileName="${basedir}/logs/archives/log.{#####}.txt"
				archiveAboveSize="10485760"
				archiveNumbering="Sequence"
				concurrentWrites="true"
				keepFileOpen="false"
				encoding="iso-8859-2" />
		<target name="console" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false" layout="[${longdate}][${level}]  ${message}">
			<highlight-row condition="level == LogLevel.Info" foregroundColor="DarkGray" />
			<highlight-row condition="level == LogLevel.Trace" foregroundColor="DarkGray" />
			<highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
			<highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
		</target>
		<target name="consoleSrc" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false" layout="[${longdate}][${level}]  ${message}">
			<highlight-row condition="level == LogLevel.Info" foregroundColor="Blue" />
			<highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
			<highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
		</target>
		<target name="consoleOutput" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false" layout="Output Message:${message}">
			<highlight-row condition="level == LogLevel.Info" foregroundColor="White" />
			<highlight-row condition="level == LogLevel.Debug" foregroundColor="White" />
			<highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
		</target>
		<target name="consoleDest" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false" layout="[${longdate}][${level}]  ${message}">
			<highlight-row condition="level == LogLevel.Info" foregroundColor="DarkGreen" />
			<highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
			<highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
		</target>
		<target name="consoleChain" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false" layout="[${longdate}][${level}]  ${message}">
			<highlight-row condition="level == LogLevel.Info" foregroundColor="DarkBlue" />
			<highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
			<highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
		</target>
		<target name="progress" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false" layout="[${longdate}][${level}]  ${message}">
			<highlight-row condition="level == LogLevel.Info" foregroundColor="Green" />
			<highlight-row condition="level == LogLevel.Error" foregroundColor="Green" />
			<highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
		</target>
	</targets>

	<rules>
		<logger name="consoleLogger" minlevel="Info" writeTo="logfile"/>
		<logger name="sourceLogger" minlevel="Info" writeTo="logfile" />
		<logger name="outputLogger" minlevel="Info" writeTo="logfile" />
	</rules>
</nlog>