@inject GetFlightsConfigService configService;


<div style="height:calc(100vh - 195px);width:calc(100vw - 80px);max-width:calc(100vw - 80px);font-size:10pt">
<h1>Help on Subscriptions</h1>
</div>

@code {


}