@inject EventExchange eventExchange
@implements IDisposable;

<label>Status: </label><span style="margin-left:10px">@Status</span>

@code {
    public string? Status { get; set; }

    protected override void OnInitialized()
    {
        Status = $"[{DateTime.Now.ToString("HH:mm:ss")}] {eventExchange.LastTopMessage}";
        eventExchange.OnTopStatus += MonitorMessage;
    }
    public void MonitorMessage(string mess){
        Status = $"[{DateTime.Now.ToString("HH:mm:ss")}] {mess}";
        InvokeAsync(() => StateHasChanged());
    }

    public void Dispose (){
        eventExchange.OnTopStatus -= MonitorMessage;
    }
}
